---
import { Image } from 'astro:assets'
type Props = {
    description: string
    title: string
    buttonTitle: string
    href: string
    imageName: string
    altImage: string
}

const {description, title, buttonTitle, href, altImage, imageName} = Astro.props
---

<div class="w-[360px] bg-black border rounded-lg shadow-tial-sm flex flex-col h-[360px] justify-between">
    <a href={href} target="_blank" class="flex items-center justify-center mt-2">
        <Image class="rounded-lg bg-tial"  height={150} alt={altImage} src={import(`./assets/${imageName}.png`)} />
    </a>
    <div class="px-5 pb-5">
        <span >
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white font-mont">{title}</h5>
        </span>
        <p class="mb-3 font-normal text-white italic font-mont   ">{description}</p>
        <a href={href} target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            {buttonTitle}
            <div class="ml-2">
                <svg class="white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="16" width="20" viewBox="0 0 640 512">
                    <path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/>
                </svg>
            </div>
        </a>
    </div>
</div>